readme_renderer==43.0
backports.tarfile==1.2.0
pkginfo==1.10.0
keyring==25.2.1
more-itertools==10.3.0
jaraco.functools==4.0.1
rfc3986==2.0.0
nh3==0.2.17
jeepney==0.8.0
twine==5.1.1
pyvips==2.2.3
jaraco.classes==3.4.0
jaraco.context==5.3.0
requests-toolbelt==1.0.0
SecretStorage==3.3.3
spared==2.0.6
nvidia-nvtx-cu12==12.4.127
executing==2.1.0
importlib_resources==6.5.2
pyparsing==3.2.0
nvidia-cuda-runtime-cu12==12.4.127
tzdata==2024.2
typing_extensions==4.12.2
python-dateutil==2.9.0.post0
nvidia-nccl-cu12==2.21.5
nest_asyncio==1.6.0
optax==0.2.4
etils==1.11.0
prompt_toolkit==3.0.48
lazy_loader==0.4
pip==24.2
tabulate==0.9.0
wheel==0.44.0
jupyter_client==8.6.3
cycler==0.12.1
torchsummary==1.5.1
pydantic==2.10.3
tqdm==4.67.1
nvidia-cusparse-cu12==12.3.1.170
jaxlib==0.5.0
stack_data==0.6.3
certifi==2024.12.14
GitPython==3.1.43
sentry-sdk==2.19.2
platformdirs==4.3.6
triton==3.1.0
humanize==4.11.0
filelock==3.16.1
safetensors==0.4.5
networkx==3.4.2
decorator==5.1.1
pytz==2024.2
ipykernel==6.29.5
comm==0.2.2
wcwidth==0.2.13
fvcore==0.1.5.post20221221
six==1.17.0
flax==0.10.2
setuptools==75.1.0
yacs==0.1.8
sympy==1.13.1
nvidia-cuda-cupti-cu12==12.4.127
termcolor==2.5.0
tifffile==2024.12.12
nvidia-curand-cu12==10.3.5.147
scikit-image==0.25.0
idna==2.10
rich==13.9.4
ipython==8.27.0
annotated-types==0.7.0
medmnist==3.0.1
ptyprocess==0.7.0
contourpy==1.3.1
nvidia-cudnn-cu12==9.1.0.70
pexpect==4.9.0
importlib_metadata==8.5.0
nvidia-nvjitlink-cu12==12.4.127
pure_eval==0.2.3
protobuf==5.29.1
ml_collections==1.0.0
requests==2.25.1
timm==1.0.8
mpmath==1.3.0
nvidia-cusolver-cu12==11.6.1.9
scikit-learn==1.6.0
matplotlib-inline==0.1.7
simplejson==3.19.3
nvidia-cublas-cu12==12.4.5.8
pydantic_core==2.27.1
kiwisolver==1.4.7
msgpack==1.1.0
packaging==24.2
zipp==3.21.0
Pygments==2.18.0
numpy==2.2.0
fonttools==4.55.3
Jinja2==3.1.4
iopath==0.1.10
PyYAML==6.0.2
chardet==4.0.0
torch==2.5.1
jedi==0.19.2
jupyter_core==5.7.2
imageio==2.36.1
torchvision==0.20.1
fsspec==2024.10.0
ml_dtypes==0.5.1
toolz==1.0.0
markdown-it-py==3.0.0
tensorstore==0.1.71
absl-py==2.1.0
mdurl==0.1.2
urllib3==1.26.20
gitdb==4.0.11
huggingface-hub==0.27.0
swin-transformer-pytorch==0.4.1
portalocker==3.0.0
docker-pycreds==0.4.0
threadpoolctl==3.5.0
jax==0.5.0
fire==0.7.0
opt_einsum==3.4.0
tornado==6.4.2
traitlets==5.14.3
MarkupSafe==3.0.2
wandb==0.19.1
einops==0.8.0
orbax-checkpoint==0.11.0
psutil==5.9.0
nvidia-cufft-cu12==11.2.1.3
setproctitle==1.3.4
chex==0.1.88
click==8.1.7
debugpy==1.6.7
pillow==11.0.0
joblib==1.4.2
pyzmq==25.1.2
torchattacks==3.5.1
parso==0.8.4
smmap==5.0.1
nvidia-cuda-nvrtc-cu12==12.4.127
pandas==2.2.3
asttokens==3.0.0
matplotlib==3.10.0
scipy==1.14.1
